*.exe
*main
*.swp
*.o
thirdparty
gamecode4
*.workspace
16_3dScenes/*.mk
16_3dScenes/*.txt
16_3dScenes/*.project
16_3dScenes/Debug
16_3dScenes/Debug/*
*.ilk
*.pdb
*.dll
./Makefile
.codelite
*.obj
.vscode
GCC4Lib/Debug
*.user
*.vs
Debug
*.filters
